@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: white;
  color: #111111;
  font-family: 'roboto', sans-serif;
  
  
}

header {
  color: black;
  padding: 40px;
}

.links {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
} 

.links a {
  text-decoration: none;
  margin-left: 30px;
  color: #111111;
  font-size: 16px;
  
}

.links a img {
  padding-right: 120px;
  
}

.links a:hover {
  color: #666;
}

#receitas {
  font-family: 'roboto', sans-serif;
  font-weight: bold;

}

.box-image {
  background-color:  #FBDFDB;
  max-width: 940px;
  height: 366px;
  border-radius: 30px;
  font-family: "Roboto";
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
   
  
}

.box-image img {
  
  margin-right: 100px;
  margin-top: 66px;
  
}

.box-image h1 {
  font-size: 32px;
  line-height: 38px;
  margin: 0 auto;
  padding-left: 60px;
  
  

}

.box-image p {
  font-size: 18px;
  line-height: 28px;
  max-width: 316px;
  opacity: 70%;
  padding-left: 60px;
  
  
 
}
#wrapper{
  max-width: 940px;
  margin: 0 auto;
}

#wrapper h1 {
  font-size: 24px;
  line-height: 28px;
  padding-top: 50px;
  padding-bottom: 20px;
}

#wrapper p {
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 18px;
}

#wrapper h2 {
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 20px; 
}

#list h1 {
  font-size: 24px;
  line-height: 28px;
  margin-left: 205px;
  padding-top: 50px;
  padding-bottom: 20px; 
}


/*===CARDS===*/

.cards {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  
  
  
}

.card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;

 
  
}

.card h2 {
  font-size: 18px;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 5px;
}

.card p {
  color: #777777;
  font-size: 14px;
  line-height: 16px;
  
  
}
.card img, .card h2, .card p {
  cursor: pointer;
}

footer {
  background: #EEEEEE;
  text-align: center;
  padding: 23px;
  opacity: 70%;
  color: #999999;
  font-size: 14px;
  margin-top: 50px;
}

/*===MODAL===*/
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: #FFFFFF;
  max-width: 660px;
  height: 413px;
  border-radius: 16px;
  margin: 10% auto;
  position: relative;
  
  
}

.modal .close-modal {
  color:black;
  position: absolute;
  bottom: 5px;
  margin-left: 280px;
  opacity: 70%;
  cursor: pointer;
}

/*===MODAL.ACTIVE===*/
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  
}
.modal .modal-content img {
  position: absolute;
  width: 600px;
  height: 200px;
  border-radius: 15px;
  margin: 30px 30px 20px 30px;

}

.modal-content {
  display: flex;
  justify-content: center;
}

.modal-content h2 {
  position: absolute;
  bottom: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 140px;
  
  
  
}

.modal-content p {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: #777777;
  text-align: center;
  margin-bottom: 115px;
}


/*=== page recipes ===*/

.recipe {
  text-align: center;
}

.recipe { 
  margin: 0 auto;
}

.recipe img {
  border-radius: 15px;
  width: 940px;
  height: 280px;
  margin-bottom: 50px;

}

.recipe h1 {
  font-size: 36px;
  margin-bottom: 4px;
}

.recipe p {
  color: #777777;
  font-size:20px;
  padding-bottom: 50px;
}

.recipe h2 {
  text-align: left;
}

#description {
  max-width: 940px;
  margin: 0 auto;
  
}

#description h2 {
  font-size: 24px;
  padding-bottom: 20px;
 
}

#description ul {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  padding-bottom: 39px;
  
  
}